
#app .right .title a {
    font-size: 0.9375rem;
    color: #AAA;
}

#app .right .title span {
    font-size: 0.9375rem;
    color: #AAA;
}

#app .right .content label {
    font-size: 0.9375rem;
    color: #333;
}

#app .right .content label {
    font-size: 0.9375rem;
    color: #333;
    margin-top: 0.5rem;
}

#app .right .content input,
#app .right .content select {
    width: 60%;
}

#app .right .content .tanggal-lahir select {
    width: 100%;
}

#app .right .content input:focus,
#app .right .content select:focus {
    box-shadow: 0 0 0 0.25rem #FFBFD2;
    border-color: #FFA8C2;
}

#app .right .content input[type=number]::-webkit-outer-spin-button,
#app .right .content input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#app .right .content small {
    display: none;
    color: #D63031 !important;
}

#app .right .content .simpan {
    font-size: 0.875rem;
    margin-top: 0.875rem;
    padding: 0.625rem 1.125rem;
    border-radius: 0.375rem;
    border: 0;
    outline: none;
    font-weight: 500;
    color: #FFF;
    background-color: #0984E3;
    transition: background-color .2s;
}

#app .right .content .simpan:hover {
    background-color: #0978CE;
}