#app .content .data-content .datas {
    display: flex;
    flex-wrap: wrap;
}

    #app .content .data-content .datas .data {
        width: 24%;
        margin-right: 1%;
        margin-bottom: 0.375rem;
        padding: 0.25rem;
        border-radius: 0.25rem;
        background-color: #FFF;
        cursor: pointer;
        overflow: hidden;
    }

    #app .content .data-content .datas .data:hover > .img-data {
        transform: scale(1.0625);
        
    }

        #app .content .data-content .datas .data .img-data {
            width: 100%;
            height: 13rem;
            transition: .2s ease-out;
        }

        #app .content .data-content .datas .data p {
            margin: 0.25rem 0 0.5rem;
        }

        #app .content .data-content .datas .data .judul {
            font-size: 1.0625rem;
            color: #444;
            font-weight: 500;
        }

        #app .content .data-content .datas .data .harga {
            font-size: 0.9375rem;
            color: #E84118;
            font-weight: 500;
        }

        #app .content .data-content .datas .data .stock {
            margin-top: 0.875rem;
            margin-bottom: 0;
            font-size: 0.8125rem;
            text-align: right;
        }

        #app .content .data-content .datas .data .stock span {
            color: #7D5FFF;
            font-weight: 500;
        }

#app .content .data-content .data-empty {
    display: none;
    background-color: #FFF;
    border: 0.0625rem dotted #D63031;
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
    color: #D63031;
}

#app .content .section-right .title {
    font-size: 1.125rem;
    text-align: center;
    font-weight: 500;
    color: #E84118;
}

#app .content .section-right .cart-data {
    margin-top: 1.5rem;
} 

    #app .content .section-right .cart-data .data {
        display: flex;
        align-items: center;
        padding: 0.5rem;
    }

        #app .content .section-right .cart-data .data .judul {
            width: 78%;
            margin: 0;
            font-size: 0.9375rem;
            color: #333;
            font-weight: 500;
        }

        #app .content .section-right .cart-data .data input {
            width: 14%;
            height: 1.75rem;
            text-align: center;
            font-size: 0.8125rem;
            font-weight: 500;
            color: #444;
        }

        #app .content .section-right .cart-data .data input::-webkit-outer-spin-button,
        #app .content .section-right .cart-data .data input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        #app .content .section-right .cart-data .data .hapus {
            width: 8%;
            text-align: right;
            font-size: 1.0625rem;
            color: rgba(231, 76, 60, 1.0);
            transition: color .2s;
            cursor: pointer;
        }

        #app .content .section-right .cart-data .data .hapus:hover {
            color: rgba(231, 76, 60, 0.8);
        }

    #app .content .section-right .cart-empty {
        display: none;
        border: 0.0625rem dotted #666;
        padding: 0.5rem;
        text-align: center;
        font-size: 0.875rem;
        color: #666;
    }

    #app .content .section-right .confirm {
        width: 100%;
        margin-top: 1.125rem;
        border: 0;
        padding: 0.5rem;
        font-size: 0.875rem;
        text-align: center;
        border-radius: 0.25rem;
        background-color: #1e90ff;
        color: #FFF;
        font-weight: 500;
        text-transform: uppercase;
        transition: background-color .3s;
        outline: none;
    }

    #app .content .section-right .confirm:hover {
        background-color: #3742FA;
    }

#form-customer .form,
#form-member .form {
    margin-top: 0.5rem;
}

    #form-customer .form label,
    #form-member .form label {
        font-size: 0.875rem;
        color: #444;
    }

    #form-customer .form input,
    #form-customer .form select,
    #form-member .form select {
        font-size: 0.8125rem;
        width: 100%;
        color: #333;
    }

    #form-customer .form input[type=checkbox] {
        width: inherit;
    }

    #form-customer .form input[type=number]::-webkit-outer-spin-button,
    #form-customer .form input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    

    #form-customer .form small {
        display: none;
        font-size: 0.8125rem;
        color: #eb2f06 !important;
    }